.App {
  border-width: 2px;
  width: 100%;
}
.container {
  display: flex;
  height: 100%;
}
.inputName {
  width: 70%;
}
.input {
  padding: 20px;
  font-size: large;
}
.nbrInput {
  width: 20%;
}
.infoComponent {
  width: 90%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.categorie {
  display: flex;
  margin: 10px;
  width: 100%;
}
.multiInput {
  width: 100%;
}
.nbrComponent {
  width: 90%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.inputFile {
  align-self: center;
  margin: 20px;
}

.drag {
  display: flex;
  width: 80%;
  flex-direction: row;
}
.imageComponent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
  align-self: center;
}
.leftContainer {
  background-color: red;
  width: 25%;
}
.middleContainer {
  width: 50%;
  display: flex;
  margin: 20px;
  align-items: center;
  flex-direction: column;
}
.rightContainer {
  height: 500px;
  background-color: pink;
  width: 25%;
}
